header{
    background-color: #1B4F72;
    color: #F4D03F;
    font-weight: bold;
    text-align: center;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hide;
}