main{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

table {
    margin-right: 3rem;
}

table td:nth-child(4){
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

table td:nth-child(4) > input,
table td:nth-child(4) > button {
    /* width: 45%; */
    white-space: nowrap;
}

#tbl-accounts_wrapper {
    margin: 3rem;
}

main > #navigator {
    display: flex;
    justify-content: space-around;
    background-color: #3498DB;
    align-items: center;
}

main > #navigator a {
    text-decoration: none;
    font-size: xx-large;
}

main > #navigator * {
    color: white;
}

#nav-btns button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    transition: 0.3s;
}

#nav-btns button:hover,
#nav-btns button:focus{
    background-color: rgba(255, 255, 255, 0.3);
}

.tab {
    display: flex;
    justify-content: center;
}

.reg-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card{
    display: flex;
    justify-content: center;
}

#data > div.card {
    width: 50%;
}

#data input[type = 'text'] {
    width: 200px;
}

#data > div.card {
    overflow: auto;
}





#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-holder{
    display: flex;
    flex-direction: column;
    gap: 1rem;   
}
#modal-body > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#btn-modal-close{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 100px;
    width: 2rem;
    height: 2rem;
}
#modal-action{
    display: flex;
    justify-content: space-between;
}
#btn-modal-close:hover, #btn-modal-close:focus{
    background-color: rgba(0,0,0,0.3) ;
}